.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
  z-index: 1000;
}

.item {
  padding: 2px 6px;
  cursor: default;
  background-color: white;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}
