.ribbon {
    position: relative;
}

.ribbon-content {
    position: absolute;
    top: 15px;
    right: 0px;
    overflow: visible;
    /* so we can see the pseudo-elements we're going to add to the anchor */

    font-size: 10px;
    /* font-size and line-height must be equal so we can account for the height of the banner */

    /*line-height: 18px;*/
    width: 100%;
}

.ribbon-content b {
    display: block;
    padding: 10px;
    position: relative;

    /* allows us to position our pseudo-elements properly */
    background: #0089d0;
    overflow: visible;
    color: #fff;
    text-decoration: none;
}
